<form method="post" action="{{ path('app_contrat_pret_delete', {'id': contratPret.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce contrat ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contratPret.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>