{% extends 'base.html.twig' %}

{% block title %}Edit ClasseInstrument{% endblock %}

{% block body %}
    <h1>Edit ClasseInstrument</h1>

    {{ include('classe_instrument/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_classe_instrument_index') }}">back to list</a>

    {{ include('classe_instrument/_delete_form.html.twig') }}
{% endblock %}
