{% extends 'base.html.twig' %}

{% block title %}New ClasseInstrument{% endblock %}

{% block body %}
    <h1>Create new ClasseInstrument</h1>

    {{ include('classe_instrument/_form.html.twig') }}

    <a href="{{ path('app_classe_instrument_index') }}">back to list</a>
{% endblock %}
